body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

#bg-login {
    background-image: url(underword.jpg);
    background-position: bottom;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-color: aliceblue;
}

.login {
    text-align: center;
}

.box-login {
    width: 300px;
    padding: 40px;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.input-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #a31303;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #a20808;
}

.btn:focus {
    outline: none;
}